{% block ice_recaptcha_widget %}
    {% spaceless %}
        <p>Pour valider le formulaire, veuillez cocher la case ci-dessous.</p>
        <div class="g-recaptcha" data-sitekey="{{ public_key }}"></div>
        <script src="{{ js_api_url }}?lang={{ lang }}" async defer></script>
    {% endspaceless %}
{% endblock ice_recaptcha_widget %}